<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teocfish.teoc_fish_pvt_ltd"
    android:versionCode="2"
    android:versionName="2.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/teoc_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/teoc_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:icon">
        <activity
            android:name="com.teocfish.teoc_fish_pvt_ltd.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teocfish.teoc_fish_pvt_ltd.SplashScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teocfish.teoc_fish_pvt_ltd.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teocfish.teoc_fish_pvt_ltd.activity.SignUp"
            android:screenOrientation="portrait" />
        <activity android:name="com.teocfish.teoc_fish_pvt_ltd.ForgotPassword" />
        <activity android:name="com.teocfish.teoc_fish_pvt_ltd.OptionalImageFullView" />
        <activity android:name="com.teocfish.teoc_fish_pvt_ltd.OrderConfirmed" />
        <activity android:name="com.teocfish.teoc_fish_pvt_ltd.RazorPayIntegration" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_K6veGqYGkoWgi1" />

        <service android:name="com.teocfish.teoc_fish_pvt_ltd.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="com.teocfish.teoc_fish_pvt_ltd.AccountVerification" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="SHA-1 certificate"
            android:value="@string/SHA1_fingerprint" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.teocfish.teoc_fish_pvt_ltd.DeliveryLocation"
            android:label="@string/title_activity_delivery_location" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="f3a50de6e57345ebbfa81be3577f6a0e" />
        <activity android:name="com.teocfish.teoc_fish_pvt_ltd.OrderCanceled" />
    </application>

</manifest>